{% assign base = map[0] %}

{% comment %}
    Variable assignment
{% endcomment %}

{% if base.name %}
    {% assign name = base.name %}
{% else %}
    {% assign name = page.title %}
{% endif %}

{% assign name = name | downcase | replace: " ", "-" %}
{% assign mapName = 'map' | append: name %}

{% if base.zoom %}
    {% assign zoom = base.zoom %}
{% else %}
    {% assign zoom = 12 %}
{% endif %}

{% comment %}
    Capture marker coordinates and info
{% endcomment %}

{% for location in map %}
    {% comment %}
        Backslash after all but the last line of captures is needed to make the capture a valid JS string
    {% endcomment %}
    {% capture info %}\
        {% for item in location.info %}\
            {% if item == location.info[0] %}\
                <b>{{ item }}</b>\
            {% else %}\
                <br/>{{ item }}\
            {% endif %}\
        {% endfor %}\
    {% endcapture %}

    {% capture coords %}{{ location.lat }}, {{ location.lng }}{% endcapture %}

    {% capture bounds %}
        {{ bounds | append: 'latlngbounds.extend(new google.maps.LatLng(' | append: coords | append: '));' }}
    {% endcapture %}

    {% assign place = location.info[0] | downcase | replace: " ", "" | replace: ".", "" %}
    {% assign currMarker = place | append: 'Marker' %}
    {% assign currWindow = place | append: 'InfoWindow' %}

    {% capture marker %}
        var {{ currMarker }} = new google.maps.Marker( {map: {{ mapName }}, position: new google.maps.LatLng({{ coords }})} );
        var {{ currWindow }} = new google.maps.InfoWindow( {content:"{{ info }}"} );
        google.maps.event.addListener({{ currMarker }}, "click", function(){ {{ currWindow }}.open({{ mapName }}, {{ currMarker }});} );
        {{ currWindow }}.open({{ mapName }}, {{ currMarker }});
    {% endcapture %}

    {% capture markers %}
        {{ markers | append: marker }}
    {% endcapture %}
{% endfor %}

{% comment %}
    Draw map
{% endcomment %}

<div id="{{ name }}"></div>
<style>
  #{{ name }} {
    width: 100%;
    height: 50vh;
  }
</style>

<script src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
  function initialize(){
    var mapCanvas = document.getElementById("{{ name }}");
    var mapOptions = {
      zoom: {{ zoom }},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var {{ mapName }} = new google.maps.Map(mapCanvas, mapOptions);
    {{ markers }}

    // Dynamically set zoom level if points are too spread out
    // Event listener prevents zooming in below default zoom
    var zoomChangeBoundsListener =
        google.maps.event.addListenerOnce({{ mapName }}, 'bounds_changed', function(event) {
            {{ mapName }}.setZoom( Math.min( {{ zoom }}, {{ mapName }}.getZoom() ) );
        });
    var latlngbounds = new google.maps.LatLngBounds();
    {{ bounds }}
    {{ mapName }}.fitBounds(latlngbounds);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>