body {
    height: 100%;
    background-color: rgba(245, 245, 245, 0);
}
/* Theme */
a.navbar-brand, .nav-pills li a, a:hover {
    color: #4a4a4a;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #4a4a4a;
}

/* Background image */
#full {
    background: no-repeat center center fixed;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.8);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Impact for company name */
.impact {
    font-family: Impact, Charcoal, sans-serif;
    color: #082c85;
}

/* Centred header */
.navbar-brand, .navbar-header, .nav {
    text-align: center;
    width: 100%;
}
.nav > li {
    float: none;
    display: inline-block;
}

/* Reset header being pushed to the left */
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
}

/* Header sizing */
.navbar-brand {
    font-size: 24px;
}
.navbar-header {
    margin-top: 4px;
    margin-bottom: 4px;
}
.navbar {
    margin-bottom: 0;
}
h2 {
    font-size: 16px;
    margin: 0 0 12px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
    .navbar-brand {
        font-size: 36px;
    }
    .navbar-header {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    h2 {
        font-size: 24px;
        margin: 0 0 16px;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        font-size: 20px;
    }
    .navbar-brand {
        font-size: 48px;
    }
    .navbar-header {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 32px;
        margin: 0 0 24px;
    }
}

/* Smaller buttons on mobile */
@media (max-width: 767px) {
    .nav > li > a {
        padding: 6px 9px;
    }
    .nav-pills > li + li {
        margin-left: -2px;
    }
}

/* Centre columns in contact page */
.col-centered {
    text-align: center;
    position: relative;
}

/* Pad glyphs when beside text on x-small screens */
.offset-glyph {
    padding: 0 5px;
}

/* Keep container width the same above and below 1200px*/
@media (min-width:1200px) {
    .container {
        width: 970px
    }
}

/* Invisible glpyhs for spacing */
.hide-glyph {
    color:rgba(255,255,255,0);
}

/* img */
img {
    width: 100%;
}
