/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

/* Set footer size based on screen size */
body {
    margin-bottom: 48px;
}
.footer {
    height: 48px;
}
.container .text-muted {
    margin: 14px 0;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        margin-bottom: 55px;
    }
    .footer {
        height: 55px;
    }
    .container .text-muted {
        margin: 16px 0;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        margin-bottom: 69px;
    }
    .footer {
        height: 69px;
    }
    .container .text-muted {
        margin: 20px 0;
    }
}
