---
layout: default
---
<div class="row">
    <div class="col-xs-12">
        <img src="{{ page.url }}/{{ page.image[0] }}">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <img src="{{ page.url }}/{{ page.image[1] }}">
    </div>
    <div class="col-xs-12 col-md-6">
        {% assign location=page.location %}{% include location.html location=location %}
    </div>
</div>
{% if page.image[2] %}
    <div class="row">
        <div class="col-xs-12">
            <img src="{{ page.url }}/{{ page.image[2] }}">
        </div>
    </div>
{% endif %}
